@font-face {
    font-family: lighti;
    src: url('./fonts/apercu-light-pro.ttf');
}

@font-face {
    font-family: mid;
    src: url('./fonts/apercu-medium-pro.ttf');
}

@font-face {
    font-family: regu;
    src: url('fonts/apercu-regular-pro.ttf');
}

@font-face {
    font-family: bol;
    src: url('fonts/apercu-bold-pro.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arya;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    overflow-x: hidden;
}



/* ----------------ARYA------------ */

.arya0 {
    width: 100%;
    height: 100vh;
    background-color: #031e78;
}

.arya1 {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arya1 .arya_heading_box {
    overflow: hidden;
}

.arya1 div>h1 {
    font-size: 80px;
    font-family: mid;
    text-align: center;
    color: white;
    width: 100%;
    font-weight: bold;
}

.arya1 div:nth-child(3) {
    z-index: 10;
}

.arya_slider_img {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 220px;
    z-index: 5;
}

.arya_slider_img1 {
    top: 130%;
    left: 50%;
}

.arya_slider_img2 {
    top: 130%;
    left: 50%;
}

.arya_slider_img3 {
    top: 130%;
    left: 50%;
}

.arya_scatter_img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 220px;
}

.arya1 h4 {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width: 780px) {
    .arya1 div>h1 {
        width: 90%;
        font-size: 60px;
    }
}

@media screen and (max-width: 450px) {
    .arya1 div>h1 {
        width: 100%;
        font-size: 30px;
    }
}


.arya2 {
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    align-items: end;
}

.arya2 .arya_scroll {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: end;
    flex: auto;
    overflow: scroll;
    gap: 20px;
}

.arya2 p {
    font-size: 100px;
    font-family: bol;
    flex-shrink: 0;
}

.arya3 {
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    position: relative;
    perspective: 1000px;
    perspective-origin: center;
    overflow: hidden;
}

.arya3_div1 {
    background-color: #031e78;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.arya3_div2 {
    background-color: aqua;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.arya3_div2 img {
    width: 100%;
    object-fit: cover;
}

.card {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.arya_card1 {
    width: 500px;
    height: 285px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    transform-style: preserve-3d;
}


.card img {
    width: 100%;
}

.arya_card1_front {
    transform: rotateY(180deg);
}


/* ----------------ARYA------------ */

/* var arya_card1 = document.querySelector('.arya_card1');
var arya3Div = document.querySelector('.arya3');

// Get the coordinates of the element
var rect = arya_card1.getBoundingClientRect();
var rect1 = arya3Div.getBoundingClientRect();

// Extracting the coordinates
var topLeftCorner = { x: Math.abs((rect.left / window.innerWidth * 100)), y: Math.abs((rect.top - rect1.top) / window.innerHeight * 100) };
var bottomLeftCorner = { x: Math.abs((rect.left / window.innerWidth * 100)), y: Math.abs((rect.bottom - rect1.bottom) / window.innerHeight * 100) };
var topRightCorner = { x: Math.abs((rect.right / window.innerWidth * 100)), y: Math.abs((rect.top - rect1.top) / window.innerHeight * 100) };
var bottomRightCorner = { x: Math.abs((rect.right / window.innerWidth * 100)), y: Math.abs((rect.bottom - rect1.bottom) / window.innerHeight * 100) };

let arya3_div2 = document.querySelector(".arya3_div2")
// arya3_div2.style.clipPath = `polygon(${topLeftCornerPercentage}, ${topRightCornerPercentage}, ${bottomRightCornerPercentage}, ${bottomLeftCornerPercentage})`;
arya3_div2.style.clipPath = `polygon(${topLeftCorner.x}%  ${topLeftCorner.y}%, ${topRightCorner.x}% ${topRightCorner.y}%, ${bottomRightCorner.x}% ${100 - bottomRightCorner.y}%, ${bottomLeftCorner.x}% ${100 - bottomLeftCorner.y}%)`; */